body{

    font-family: 'Poppins', sans-serif;
margin: 0;


}

h1{


font-size: 50px;

}

#jamil{


    color: orange;
}

.felexiable-con{



    display: flex;
}

.half-width{
margin-top: 40px;
padding-left: 40px;
width: 50%;

}
.half-width img{

width: 80%;


}
.hireme{
border-radius: 5px;
background-image: linear-gradient(#ff6c4f,#ff9772); 
text-decoration: none;
/* background-color: #ff7153; */
padding: 10px 40px;
font-weight: 700;
color: white;

}

.top-part{

background-image: url(img/top-banner.png);
background-repeat: no-repeat;



}
.middle-part{

background-image: url(img/dream-bg.png);
background-repeat: no-repeat;
background-position: right;


}
.boxshadow{


width: 40%;
    box-shadow:10px 10px 40px  gray; 
margin-left: 5%;
margin-right: 5%;
padding-left: 20px;
border-radius: 10px;
}
.experiance{

background-image: url(img/exp-bg.png);
background-repeat: no-repeat;



}


#web-senior{
    border-left: 7px solid;
   border-image: linear-gradient(tomato,orange);

/* background-image: linear-gradient(orange,tomato); */


border-image-slice: 1;


}
#web-junior{

    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
 
 
 
 border-image-slice: 1;
 


}

footer p{
margin-top: 50px;
text-align: center;


}